<template>
  <div>
    <v-card
      outlined
      class="mb-5"
    >
      <v-card-title class="pb-0"><h3>{{post.title}}</h3>
        <v-spacer></v-spacer>
        <v-btn
          color="secondary"
          icon
          @click="goHome"
        >
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-card-title>
      <div class="d-flex">
        <v-card-subtitle class="pb-1">
          <small>
            <v-icon left>mdi-calendar-range</v-icon>
            {{ post.date | date}}
          </small>
        </v-card-subtitle>
        <v-spacer></v-spacer>
        <v-card-subtitle class="pb-1">
          <small>
            <v-icon left>mdi-eye-outline</v-icon>
            {{post.views}}
          </small>
        </v-card-subtitle>
      </div>
      <v-img
        :src="post.imageUrl"
      >
        <template v-slot:placeholder>
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
          >
            <v-progress-circular indeterminate color="grey lighten-1"></v-progress-circular>
          </v-row>
        </template>
      </v-img>
      <v-card-text class="text--primary">
        <vue-markdown>{{post.text}}</vue-markdown>
      </v-card-text>
    </v-card>
    <app-comment-form  v-if="canAddComment"
                       @created="createCommentHandler"
                       :postId="post._id"/>
    <div v-if="post.comments.length">
      <app-comment v-for="comment in post.comments" :key="comment._id" :comment="comment"/>
    </div>
    <div class="d-flex justify-center ma-5" v-else>No comments yet</div>
  </div>
</template>

<script>
    import AppComment from '@/components/main/Comment'
    import AppCommentForm from '@/components/main/CommentForm'

    export default {
        name: "_id",
        head() {
            return {
                title: `${this.post.title} | ${process.env.appName}`
            }
        },
        components: {
            AppComment,
            AppCommentForm
        },
        data() {
            return {
                canAddComment: true
            }
        },
        async asyncData({store, params}) {
            const post = await store.dispatch('post/fetchById',  params.id)
            await store.dispatch('post/addView',  post)
            return {
                post: {...post, views: ++post.views}
            }
        },
        validate({params}) {
            return Boolean(params.id)
        },
        methods: {
            goHome() {
                this.$router.push(`/`)
            },
            createCommentHandler(comment) {
                this.post.comments.unshift(comment)
                this.canAddComment = false
            }
        },
    }
</script>

<style scoped>

</style>
