<template>
  <v-row
    justify="center"
    align="center"
  >
    <h1>Posts Analytics</h1>
    <v-col>
      <analytics-chart
        :labels="comments.labels"
        :data="comments.data"
        title="Количество комментариев"
      />
      <analytics-chart
        :labels="views.labels"
        :data="views.data"
        title="Количество просмотров"
      />
    </v-col>
  </v-row>
</template>

<script>
    import AnalyticsChart from '@/components/admin/AnalyticsChart'
    export default {
        name: "index",
        head: {
            title: `Analytics | ${process.env.appName}`
        },
        layout: 'admin',
        middleware: 'admin-auth',
        async asyncData({store}) {
            const {views, comments} = await store.dispatch('post/getAnalytics')
            return {views, comments}
        },
        components: {
            AnalyticsChart
        }
    }
</script>

<style scoped>

</style>
