<template>
  <v-row>
    <v-col>
    <h1 class="mb-4">Create a new post</h1>
      <v-flex>
        <v-form
          ref="form"
          v-model="valid"
        >
          <v-text-field
            v-model="title"
            :rules="titleRules"
            label="Post title"
            required
            outlined
          ></v-text-field>
          <v-textarea
            v-model="text"
            :rules="textRules"
            label="Post text in .md or .html format"
            :rows="10"
            required
            outlined
            no-resize
          ></v-textarea>
          <v-file-input accept="image/*" label="File input" @change="handleImageChange"></v-file-input>
          <v-dialog v-model="dialog"
          >
            <template v-slot:activator="{ on }">
              <v-btn
                color="red lighten-2"
                dark
                v-on="on"
                :disabled="!text || !title"
              >
                Preview
              </v-btn>
            </template>
            <v-card class="pa-4">
              <v-card-title class="headline">Preview</v-card-title>
              <v-card-text>
                <vue-markdown :key="text">{{text}}</vue-markdown>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-btn
            :disabled="!valid || !image"
            :loading="loading"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Create Post
          </v-btn>
        </v-form>
      </v-flex>
    </v-col>
  </v-row>
</template>

<script>
    export default {
        name: "Create",
        head: {
            title: `Create Posts | ${process.env.appName}`
        },
      layout: 'admin',
      middleware: 'admin-auth',
      data() {
        return {
          dialog: false,
          valid: true,
          loading: false,
          image: null,
          title: '',
          text: '',
          titleRules: [
            v => !!v || 'Title is required',
          ],
          textRules: [
            v => !!v || 'Text is required',
          ],
        }
      },
      methods: {
        handleImageChange(img){
          this.image = img
        },
        async submit() {
          if (this.$refs.form.validate() && this.image) {
            this.loading = true

            const formData = {
              title: this.title,
              text: this.text,
              image: this.image
            }
            try {
              console.log(formData)
              await this.$store.dispatch('post/create', formData)
              this.$refs.form.reset()
              this.image = null
              this.$swal(`New post has been created`, '', 'success')
            } catch (e) {}
            finally {
              this.loading = false
            }
          }
        }
      }
    }
</script>

<style scoped>

</style>
