<template>
  <v-row
    justify="center"
    align="center"
  >
    <h1>Welcome To Admin!</h1>

  </v-row>
</template>

<script>
    export default {
        head: {
            title: `Admin | ${process.env.appName}`
        },
        name: "index",
        layout: 'admin',
        middleware: 'admin-auth',
    }
</script>

<style scoped>

</style>
