<template>
  <v-row align="center"
         justify="center">
    <v-col class="text-center" md="6" sm="8">
      <h1>LOG IN</h1>
      <v-flex>
        <v-form
          ref="form"
          v-model="valid"
        >
          <v-text-field
            v-model="login"
            :rules="loginRules"
            label="Login"
            clearable
            required
            outlined
          ></v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            counter
            @click:append="showPassword = !showPassword"
            clearable
            required
            outlined
          ></v-text-field>
          <v-btn
            :disabled="!valid"
            :loading="loading"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Log In
          </v-btn>
          <v-btn
            color="error"
            class="mr-4"
            @click="reset"
          >
            Clear
          </v-btn>
        </v-form>
      </v-flex>
    </v-col>
  </v-row>
</template>

<script>
    export default {
        name: "login",
        head: {
            title: `Login | ${process.env.appName}`
        },
      layout: 'empty',
      data: () => ({
        valid: true,
        loading: false,
        showPassword: false,
        login: '',
        loginRules: [
          v => !!v || 'Login is required',
        ],
        password: '',
        passwordRules: [
          v => !!v || 'Password is required',
          v => (v && v.length >= 6) || 'Password must be at least 6 characters',
        ],
      }),
      mounted() {
        const {message} = this.$route.query
        switch (message) {
          case 'login':
            this.$swal('Please log in to access this page', '', 'error')
            break
          case 'logout':
            this.$swal('You have been logged out', '', 'success')
            break
          case 'session':
            this.$swal('Session is over, please log in again', '', 'warning')
            break
        }
      },
      methods: {
        async submit () {
          if (this.$refs.form.validate()) {
            this.loading = true
            try {
              const formData = {
                login: this.login,
                password: this.password
              }
              await this.$store.dispatch('auth/login', formData)
              this.$router.push('/admin')

            } catch (e) {
              this.loading = false
            }
          }
        },
        reset() {
          this.$refs.form.reset()
          this.login = ''
          this.password = ''
        },
      },
    }
</script>

<style scoped>

</style>
