<template>
  <v-row>
    <v-col class="text-center">
      <v-data-table no-data-text="No data"
                    :headers="headers"
                    :items="posts"
                    :items-per-page="10"
                    class="elevation-1 text-left"
      >
        <template v-slot:item.date="{ item }">
          <v-icon left>mdi-calendar-range</v-icon>
          {{ item.date | date('date')}}
        </template>
        <template v-slot:item.views="{ item }">
          <v-icon left>mdi-eye-outline</v-icon>
          {{ item.views }}
        </template>
        <template v-slot:item.comments="{ item }">
          <v-icon left>mdi-email</v-icon>
          {{ item.comments.length}}
        </template>
        <template v-slot:item.options="{ item }">
          <v-tooltip top color="grey">
            <template v-slot:activator="{ on }">
              <v-btn text icon color="primary" @click="open(item._id)" v-on="on"><v-icon>mdi-folder-open-outline</v-icon></v-btn>
            </template>
            <span>Open</span>
          </v-tooltip>
          <v-tooltip top color="grey">
            <template v-slot:activator="{ on }">
              <v-btn text icon color="error"  @click="remove(item)" v-on="on"><v-icon>mdi-trash-can-outline</v-icon></v-btn>
            </template>
            <span>Delete</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>

<script>
    export default {
        name: "posts",
        head: {
            title: `Posts | ${process.env.appName}`
        },
      layout: 'admin',
      middleware: 'admin-auth',
      data(){
          return{
            headers: [
              { text: 'Title', value: 'title' },
              { text: 'Date', value: 'date' },
              { text: 'Views', value: 'views' },
              { text: 'Comments', value: 'comments' },
              { text: 'Options', value: 'options' },
            ],
          }
      },
      async asyncData({store}) {
          const posts = await store.dispatch('post/fetchAdmin')
        return {posts}
      },
      methods: {
        open(id) {
          this.$router.push(`/admin/post/${id}`)
          console.log('open', id)
        },
        async remove(item) {
          try {
            await this.$swal({
              icon: 'warning',
              title: "Are you sure?",
              text: "Once deleted, you will not be able to recover this post!",
              dangerMode: true,
              buttons: ["Cancel", "Delete"],
            }).then((result) => {
              if (result) {
                this.$store.dispatch('post/remove', item._id)
                this.$swal(`Post ${item.title} has been deleted`)
                this.posts = this.posts.filter(p => p._id !== item._id)
              }
            })
          }catch (e) {}
        }
      }
    }
</script>

<style scoped>

</style>
