<template>
  <v-row align="center"
         justify="center">
    <v-col class="text-center" md="6">
      <h1>CREATE A USER</h1>
      <v-flex>
        <v-form
          ref="form"
          v-model="valid"
        >
          <v-text-field
            v-model="login"
            :rules="loginRules"
            label="Login"
            clearable
            required
            outlined
          ></v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            counter
            @click:append="showPassword = !showPassword"
            clearable
            required
            outlined
          ></v-text-field>
          <v-btn
            :disabled="!valid"
            :loading="loading"
            color="success"
            class="mr-4"
            @click="submit"
          >
            create
          </v-btn>
          <v-btn
            color="error"
            class="mr-4"
            @click="reset"
          >
            Clear
          </v-btn>
        </v-form>
      </v-flex>
    </v-col>
  </v-row>
</template>

<script>
    export default {
        name: "users",
        head: {
            title: `Create Users | ${process.env.appName}`
        },
      layout: 'admin',
      middleware: 'admin-auth',
      data: () => ({
        valid: true,
        loading: false,
        showPassword: false,
        login: '',
        loginRules: [
          v => !!v || 'Login is required',
        ],
        password: '',
        passwordRules: [
          v => !!v || 'Password is required',
          v => (v && v.length >= 6) || 'Password must be at least 6 characters',
        ],
      }),
      methods: {
        async submit () {
          if (this.$refs.form.validate()) {
            this.loading = true
            try {
              const formData = {
                login: this.login,
                password: this.password
              }
              await this.$store.dispatch('auth/createUser', formData)
              this.$swal('New user has been created', '', 'success')
              this.$refs.form.reset()
              this.loading = false
            } catch (e) {
              this.$swal(e, '', 'error')
              this.loading = false
            }
          }
        },
        reset() {
          this.$refs.form.reset()
        },
      },
    }
</script>

<style scoped>

</style>
