<template>
  <v-card
    class="mx-auto mb-5"
    color="#ECEFF1"
  >
    <v-card-text class="d-flex">
      <span class="headline">{{comment.name}}</span>
      <v-spacer />
      <small>
        <v-icon left>mdi-calendar-range</v-icon>
        {{ comment.date | date}}
      </small>
    </v-card-text>
    <v-card-text>
      {{comment.text}}
    </v-card-text>
  </v-card>
</template>

<script>
    export default {
        name: "Comment",
        props: {
            comment: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>
