<template>
  <v-card class="mb-5">
    <v-card-text>
      <v-form
        ref="form"
        v-model="valid"
      >
        <v-text-field
          v-model="name"
          :counter="10"
          :rules="nameRules"
          label="Name"
          required
          outlined
        ></v-text-field>

        <v-textarea
          v-model="comment"
          :rules="commentRules"
          label="Comment"
          required
          outlined
        ></v-textarea>
        <div class="text-right">
          <v-btn
            :disabled="!valid || loading"
            color="success"
            class="mr-4"
            @click="submit"
            :loading="loading"
          >
            Submit
          </v-btn>
          <v-btn
            color="error"
            class="mr-4"
            @click="reset"
          >
            Clear
          </v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
    export default {
        name: "CommentForm",
        props: {
            postId: {
                type: String,
                required:  true
            }
        },
        data: () => ({
            valid: true,
            name: '',
            loading: false,
            nameRules: [
                v => !!v || 'Name is required',
                v => (v && v.length <= 10) || 'Name must be less than 10 characters',
            ],
            comment: '',
            commentRules: [
                v => !!v || 'Comment is required',
            ],
        }),
        methods: {
            async submit() {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    const formData = {
                        name: this.name,
                        text: this.comment,
                        postId: this.postId
                    }
                    try{
                        const newComment = await this.$store.dispatch('comment/create', formData)
                        this.$swal('Your comment has been added', '', 'success')
                        this.$emit('created', newComment)
                    }catch(e) {
                        this.loading = false
                    }
                }
            },
            reset() {
                this.$refs.form.reset()
                this.name = ''
                this.comment = ''
            },
        },
    }
</script>

<style scoped>

</style>
