<template>
<div>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant="miniVariant"
    temporary
    fixed
    app
    class="hidden-md-and-up"
  >
    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :to="item.to"
        router
        exact
      >
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
  <v-app-bar
    fixed
    app
    dark
    color="blue-grey darken-2"
  >
    <v-app-bar-nav-icon class="hidden-md-and-up" color="white" @click.stop="drawer = !drawer" />
    <v-btn class="hidden-md-and-up"
           color="white"
      icon
      @click.stop="miniVariant = !miniVariant"
    >
      <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
    </v-btn>
    <v-toolbar-title v-text="title" />
    <v-spacer/>
    <v-toolbar-items class="hidden-sm-and-down">

      <nuxt-link tag="button" class="v-btn v-btn--flat v-btn--text theme--dark v-size--default" no-prefetch exact
                 active-class="active" to="/">
        Home
      </nuxt-link>
      <nuxt-link tag="button" class="v-btn v-btn--flat v-btn--text theme--dark v-size--default" no-prefetch
                 active-class="active" to="/admin">
        Admin
      </nuxt-link>

    </v-toolbar-items>
  </v-app-bar>
</div>
</template>

<script>
    export default {
      name: "Navigation",
      data: () => ({
        drawer: false,
        miniVariant: false,
        title: 'Nuxt SSR Blog',
        items: [
          {
            icon: 'mdi-home',
            title: 'Home',
            to: '/'
          },
          {
            icon: 'mdi-account-tie',
            title: 'Admin',
            to: '/admin'
          }
        ]
    })
    }
</script>

<style scoped>
</style>
