<template>
  <v-card
    class="mx-auto ma-2"
    max-width="800"
    hover
  >
    <v-img
      class="align-start"
      height="200px"
      :src="post.imageUrl">
      <template v-slot:placeholder>
        <v-row
          class="fill-height ma-0"
          align="center"
          justify="center"
        >
          <v-progress-circular indeterminate color="grey lighten-1"></v-progress-circular>
        </v-row>
      </template>
    </v-img>
      <v-card-title>{{post.title}}</v-card-title>
      <v-card-subtitle class="pb-0">
        <small>
          <v-icon left>mdi-calendar-range</v-icon>
          {{ post.date | date('date')}}
        </small>
      </v-card-subtitle>
    <v-card-actions>
      <v-btn
        color="primary"
        text
        @click="openPost"
      >
        Open post
      </v-btn>
      <v-spacer></v-spacer>
      <small class="pr-5">
        <v-icon left>mdi-eye-outline</v-icon>
        {{post.views}}
      </small>
      <small>
        <v-icon color="info" left>mdi-email</v-icon>
        {{post.comments.length}}
      </small>
    </v-card-actions>
  </v-card>
</template>

<script>
    export default {
        props: {
            post: {
                type: Object,
                required:  true
            }
        },
      name: "Post",
      methods: {
        openPost(){
          const id = this.post._id
          this.$router.push(`/post/${id}`)
        }
      }
    }
</script>

<style scoped>

</style>
