.swal-title{
  font-family: sans-serif;
}
/*
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
*/
.page-enter-active {
  transition: all .3s ease;
}
.page-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.page-enter, .page-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
