<template>
  <v-row>
    <v-col>
      <v-breadcrumbs :items="breadCrumbs" divider="-"></v-breadcrumbs>
      <h1>{{post.title}}</h1>
      <v-flex>
        <v-form
          ref="form"
          v-model="valid"
        >
          <v-textarea
            v-model="text"
            :rules="textRules"
            label="Post text in .md or .html format"
            :rows="10"
            clearable
            required
            outlined
            no-resize
          ></v-textarea>

          <div class="mb-4">
            <small class="mr-4">
              <v-icon left>mdi-calendar-range</v-icon>
              <span>
            {{ post.date | date}}
          </span>
            </small>
            <small>
              <v-icon left>mdi-eye-outline</v-icon>
              <span>{{ post.views }}</span>
            </small>
          </div>

          <v-btn
            :disabled="!valid"
            :loading="loading"
            color="success"
            class="mr-4"
            @click="submit"
          >
            Update Post
          </v-btn>
        </v-form>
      </v-flex>
    </v-col>
  </v-row>
</template>

<script>
    export default {
        name: "_id",
      layout: 'admin',
      middleware: 'admin-auth',
      head() {
        return {
          title: `${this.post.title} | ${process.env.appName}`
        }
      },
      validate({params}) {
        return Boolean(params.id)
      },
      async asyncData({store, params}) {
        const post = await store.dispatch('post/fetchAdminById', params.id)
        return {post}
      },
      data() {
        return {
          valid: true,
          loading: false,
          text: '',
          textRules: [
            v => !!v || 'Text is required',
          ],
        }
      },
      computed: {
        breadCrumbs() {
          return [
            {
              text: 'Posts',
              disabled: false,
              to: '/admin/posts',
            },
            {
              text: this.post.title,
              disabled: true,
            },
          ]
        }
      },
      methods: {
        async submit() {
          if (this.$refs.form.validate()) {
            this.loading = true
            const formData = {
              text: this.text,
              id: this.post._id
            }
            try {
              await this.$store.dispatch('post/update', formData)
              this.$swal(`Post ${this.post.title} has been updated`, '', 'success')
              this.loading = false
            } catch (e) {
              this.loading = false
            }
          }
        }
      },
      mounted() {
          this.text = this.post.text
      }
    }
</script>

<style scoped>

</style>
