<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item-group>
          <v-list-item
            nuxt
            v-for="item in items"
            :key="item.text"
            :to="item.to"
            link
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            link
            @click.prevent="logOut"
          >
            <v-list-item-action>
              <v-icon>mdi-logout-variant</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                Log Out
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      color="red"
      dense
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title class="mr-12 align-center">
        <span class="title">Admin</span>
      </v-toolbar-title>
      <v-spacer />

    </v-app-bar>

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
    export default {
        name: "admin",
      data: () => ({
        drawer: null,
        items: [
          { icon: 'mdi-home', text: 'Home', to: '/' },
          { icon: 'mdi-google-analytics', text: 'Analytics', to: '/admin/analytics' },
          { icon: 'mdi-plus', text: 'Create', to: '/admin/create' },
          { icon: 'mdi-post', text: 'Posts List', to: '/admin/posts' },
          { icon: 'mdi-account', text: 'Users', to: '/admin/users' },
        ],
      }),
      computed: {
        error() {
          return this.$store.getters.error
        }
      },
      watch: {
        error(value) {
          this.$swal(value.response.data.message, '', 'error')
        }
      },
      created () {
        this.$vuetify.theme.dark = true
      },
      destroyed() {
        this.$vuetify.theme.dark = false
      },
      methods: {
        logOut() {
          this.$store.dispatch('auth/logout')
          this.$router.push('/admin/login?message=logout')
        }
      }
    }
</script>

<style scoped>

</style>
