<template>
  <v-app>
    <app-navigation />
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
  import AppNavigation from '@/components/main/Navigation'
export default {
    components: {
      AppNavigation
    },
  data () {
    return {
    }
  },
  computed: {
    error() {
      return this.$store.getters.error
    }
  },
  watch: {
    error(value) {
      this.$swal(value, '', 'error')
    }
  },
  mounted () {
    this.$vuetify.theme.dark = false
  },
}
</script>
