<template>
  <v-app light>
    <v-content>
      <v-container class="fill-height"
                   fluid>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
    export default {
        name: "empty",
      computed: {
        error() {
          return this.$store.getters.error
        }
      },
      watch: {
        error(value) {
          this.$swal(value.response.data.message, '', 'error')
        }
      },
      beforeCreate () {
        if (this.$route.fullPath.includes('admin')) {
          this.$vuetify.theme.dark = true
        }
      },
    }
</script>

<style scoped>

</style>
