<template>
  <v-row align="center"
         justify="center">
    <v-col class="text-center pt-12 mt-12">
      <h1 v-if="error.statusCode === 404">
        {{ pageNotFound }}
      </h1>
      <h1 v-else>
        {{ otherError }}
      </h1>
      <NuxtLink :to="redirectAddress">
        Back to {{homePage}} page
      </NuxtLink>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },
  data () {
    return {
      homePage: 'Home',
      redirectAddress: '/',
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  computed: {
    thisError() {
      return this.$store.getters.error
    }
  },
  watch: {
    thisError(value) {
      this.$swal(value, '', 'error')
    }
  },
  mounted () {
    if (this.$route.fullPath.includes('admin')) {
      this.redirectAddress = '/admin'
      this.homePage = 'Admin'
      this.$vuetify.theme.dark = true
    }
  },
}
</script>

<style scoped>
h1 {
  font-size: 80px;
}
</style>
