<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <div class="text-center">
        HOME PAGE
      </div>
      <app-post v-for="post in posts" :key="post._id" :post="post"/>
    </v-flex>
  </v-layout>
</template>

<script>
  import AppPost from '@/components/main/Post'
export default {
      head: {
          title: `Home | ${process.env.appName}`
      },
  name: "Home",
    async asyncData({store}) {
      const posts = await store.dispatch('post/fetch')
        return {posts}
    },
  components: {
    AppPost
  },
}
</script>
